.containerFlex{
    display: flex;
    flex-direction: column;
}

.header{
    text-align: center;
   order: ;
}

.nav{
    text-align: center;
    flex-grow: 3;
}
.section{
    text-align: center;
    flex-grow: 0;
}